
{% extends 'core/base.html' %}
{% block title %}Home{% endblock title %}

{% block style %}

.container {
  {% comment %} display: flex; {% endcomment %}
  align-items: center;
  justify-content: center;
  height: 10vh; 
}

.gradient-text {
  letter-spacing: 5px !important;
  background: #ffff;

  background-clip: text;
  color: transparent;
}

.empty-message {
            color: #127;
            font-style: italic;
        }

{% endblock style %}

{% block content %}



 <br>
<hr>
<br><br>
 <div class="container">

  <h1 class="text-center gradient-text">Welcome To The New Library</h1>

</div>

{% endblock content %}


